body{
	background-color: #669973;
}

.nav-link
{
	font-size:16px;
	color:#7c7c7d;
	text-decoration:none;	
	
}

    
.nav-link
{
	font-size:16px;
	color:#7c7c7d;
	text-decoration:none;	
}

a:hover
{
color:#000;
}

.navbar-light .navbar-brand {
    color:#000;
	font-size:22px;
	font-family:Times;
}

.jumbotron
{
	background-color:#f8f9fa;
}



.navbar {
    margin-bottom: 0;
    border-radius: 0;
	background-color: #fff;
}

.form-control
{
	height:40px;
	width:350px;
	margin:auto;
}

	

	
